@{
    ViewBag.Title = "O nas";

}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Istniejemy już od 10 lat zaufało nam miliony klientów zapraszamy do naszych sklepów.<br> Pamiętaj tylko u nas zniżka na każdy model.</p>
