@{
    ViewBag.Title = "Kontakt";
 
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ul. Ćwiartków 4/8<br />
    Bytom 08-299<br />
    <abbr title="Telefon">Telefon 222333444</abbr>
</address>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:Support@example.com">pomoc@pomocexample.com</a><br />
    <strong>Sprzedaż:</strong> <a href="mailto:Marketing@example.com">pomoc1@example.com</a>
</address>