
@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Super car</h1>
   <p>
       Tu znajdziesz swój wymarzony samochód 
   </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Toyota Yaris Cross</h2>
        <p>
            W Toyocie Yaris Cross przemyślany design miejskiego auta spotyka się z wygodą samochodu z segmentu SUV. 
            Od wysokiej pozycji za kierownicą przez przestronne i komfortowe wnętrze po wyjątkowe połączenie technologii hybrydowej z inteligentnym napędem na wszystkie koła AWD-i – wszystko to sprawia,
            że nową Toyotą Yaris Cross zawsze dotrzesz tam, gdzie planowałeś.
        </p>
        <p><a class="btn btn-default" href="https://www.toyota.pl/new-cars/yaris-cross/" target="_blank">Yaris Cross &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mercedes Klasa A </h2>
        <p>Linie Klasy A podążają w jednym kierunku: naszej filozofii designu zmysłowej wyrazistości. Powierzchnie są jeszcze bardziej purystyczne a detale jeszcze bardziej esencjonalne.</p>
        <p><a class="btn btn-default" href="https://www.mercedes-benz.pl/passengercars/models/hatchback/a-class/overview.html" target="_blank">Mercedes A klasa &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Oto Moto</h2>
        <p>Nowy samochód na majówkę? Promocje w KLIKu na samochody z roczną gwarancją i Cyfrowym Paszportem Pojazdu!.</p>
        <p><a class="btn btn-default" href="https://www.otomoto.pl/" target="_blank">Oto twoje moto &raquo;</a></p>
    </div>
</div>